/* Add a background color to the body */
body {
    margin-top: 60px;
    background-color: #f2f2f2;
}

/* Style the heading */
h1 {
    text-align: center;
    font-size: 32px;
    color: #333333;
    margin-top: 50px;
}

/* Style the links */
a {
    color: #333333;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
}

/* Add a hover effect to the links */
a:hover {
    background-color: #333333;
    color: #f2f2f2;
}

/* Style the login form */
form {
    width: 30%;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

/* Style the form inputs */
input[type="email"], input[type="password"], input[type="text"] {
    font-family: "Fira Code", sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

/* Style the submit button */
input[type="submit"] {
    font-size: medium;
    font-family: "Fira Code", sans-serif;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Add a hover effect to the submit button */
input[type="submit"]:hover {
    background-color: #45a049;
}

.alert-message {
    padding: 12px;
    border-radius: 3px;
    font-size: 1rem;
    margin-bottom: 16px;
}

.alert-success {
    border: 3px solid green;
    background-color: green;
    color: white;
}

.alert-error_medium {
    border: 3px solid red;
    background-color: orange;
    color: white;
}

.alert-error_high {
    border: 3px solid darkred;
    background-color: red;
    color: white
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffa500;
}

.nav-left {
    display: none; /* initially hide the left menu */
}

.nav-left.show {
    display: flex;
}

.nav-menu-button {
    display: inline-block;
    font-size: 1.5rem;
    color: white;
}

.nav-menu-item {
    display: inline-block;
    margin-left: 10px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

.nav-center {
    display: flex;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.nav-logo img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    right: 0;
}

.nav-button {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
}

.nav-button:hover {
    background-color: white;
    color: #ffa500;
}

/* Show the left menu when the menu button is clicked */
.nav-menu-button:active + .nav-left {
    display: block;
}

:root {
    font-size: 15.5px;
    font-family: "Fira Code", sans-serif;
  }

.popup-window {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: none;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    z-index: 999;
}
.popup-header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
.popup-body {
    font-size: 16px;
}
#friend-email {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}
#search-result {
    text-align: center;
    margin-top: 10px;
}
#search-result.success {
    color: green;
}

#search-result.medium {
    color: orange;
}

#search-result.error {
    color: red;
}

#send-friend_req-button {
    top: 50%;
    left: 50%;
    padding: 10px 20px;
    border-radius: 5px;
    transform: translate(-50%,-50%);
    position: relative;
    display: block;
    font-size: 14px;
    font-family: 'Fira Code';
    text-decoration: none;
    margin: 40px 0 -5px 0;
    border: 2px solid green;
    overflow: hidden;
    transition: 1s all ease;
    cursor: pointer;
    color: green;
}

#send-friend_req-button::before{
    background: green;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
    width: 0%;
    height: 100%;
}
#send-friend_req-button:hover::before{
    width: 100%;
  }
#send-friend_req-button:hover{
    color: white;
}

#close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.add-friends-button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 14px;
    font-family: 'Fira Code';
    cursor: pointer;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.friend-requests {
    width: 300px;
    height: 200px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

.friend-requests h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.friend-requests .request {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.friend-requests .request .name {
    font-size: 16px;
}

.friend-requests .request .actions {
    display: flex;
    align-items: center;
}

.friend-requests .request .actions button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.friend-requests .request .actions button:hover {
    background-color: #3e8e41;
}

.current-friends {
    width: 300px;
    height: 200px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

.current-friends h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.current-friends .friend {
    font-size: 16px;
    margin-bottom: 10px;
}
  .alert-container {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
}

  .alert-box {
    padding: 20px;
    border-radius: 13px;
    display: none;
    width: 60%;
    margin: 0 auto;
    position: relative;
    border: 3px solid rgb(238, 238, 238);

  }
  
  .sticky-alert-success {
    background-color: green;
    color: white;
  }
  
  .sticky-alert-error {
    background-color: rgb(255, 51, 0);
    color: white;
  }
  
  .sticky-alert-warning {
    background-color: rgb(255, 162, 0);
    color: white;
  }
  
  .close-button {
    display: block;
    float: right;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    right: 20px;
    top: 50%;
    text-align: center;
    height: 20px;
    width: 20px;
    transform: translateY(-50%);
    line-height: 20px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.2);
    transition: background-color 0.2s ease-in-out;
  }

  .close-button:hover {
    background-color: rgba(128, 128, 128, 0.5);
  }

  .sticky-alert-message {
    padding-right: 10px;
  }
  