/* Add a background color to the body */
body {
    margin-top: 10px;
    background-color: #f2f2f2;
}

/* Style the heading */
h1 {
    text-align: center;
    font-size: 32px;
    color: #333333;
    margin-top: 50px;
}

/* Style the links */
a {
    color: #333333;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
}

/* Add a hover effect to the links */
a:hover {
    background-color: #333333;
    color: #f2f2f2;
}

/* Style the login form */
form {
    width: 30%;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

/* Style the form inputs */
input[type="email"], input[type="password"], input[type="text"] {
    font-family: "Fira Code", sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

/* Style the submit button */
input[type="submit"] {
    font-size: medium;
    font-family: "Fira Code", sans-serif;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Add a hover effect to the submit button */
input[type="submit"]:hover {
    background-color: #45a049;
}

.alert-message {
    padding: 12px;
    border-radius: 3px;
    font-size: 1rem;
    margin-bottom: 16px;
}

.alert-success {
    border: 3px solid green;
    background-color: green;
    color: white;
}

.alert-error_medium {
    border: 3px solid red;
    background-color: orange;
    color: white;
}

.alert-error_high {
    border: 3px solid darkred;
    background-color: red;
    color: white
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffa500;
}

.nav-left {
    display: flex; /* initially hide the left menu */
}

.nav-left.show {
    display: flex;
}

.nav-menu-button {
    display: inline-block;
    font-size: 1.5rem;
    color: white;
}

.nav-menu-item {
    display: inline-block;
    margin-left: 10px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

.nav-center {
    display: flex;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.nav-logo img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    right: 0;
}

.nav-button {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
}

.nav-button:hover {
    background-color: white;
    color: #ffa500;
}

/* Show the left menu when the menu button is clicked */
.nav-menu-button:active + .nav-left {
    display: block;
}

:root {
    font-size: 15.5px;
    font-family: "Poppins", sans-serif;
  }

.popup-window {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: none;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    z-index: 999;
}
.popup-header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
.popup-body {
    font-size: 16px;
}
#friend-email {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}
#search-result {
    text-align: center;
    margin-top: 10px;
}
#search-result.success {
    color: green;
}

#search-result.medium {
    color: orange;
}

#search-result.error {
    color: red;
}

#send-friend_req-button {
    top: 50%;
    left: 50%;
    padding: 10px 20px;
    border-radius: 5px;
    transform: translate(-50%,-50%);
    position: relative;
    display: block;
    font-size: 14px;
    font-family: 'Fira Code';
    text-decoration: none;
    margin: 40px 0 -5px 0;
    border: 2px solid green;
    overflow: hidden;
    transition: 1s all ease;
    cursor: pointer;
    color: green;
}

#send-friend_req-button::before{
    background: green;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
    width: 0%;
    height: 100%;
}
#send-friend_req-button:hover::before{
    width: 100%;
  }
#send-friend_req-button:hover{
    color: white;
}

#close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.add-friends-button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 14px;
    font-family: 'Fira Code';
    cursor: pointer;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
}

.add-friends-button:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.friend-requests {
    width: 300px;
    height: 200px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

.friend-requests h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.friend-requests .request {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.friend-requests .request .name {
    font-size: 16px;
}

.friend-requests .request .actions {
    display: flex;
    align-items: center;
}

.friend-requests .request .actions button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.friend-requests .request .actions button:hover {
    background-color: #3e8e41;
}

.current-friends {
    width: 300px;
    height: 200px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

.current-friends h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.current-friends .friend {
    font-size: 16px;
    margin-bottom: 10px;
}
  .alert-container {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
}

  .alert-box {
    padding: 20px;
    border-radius: 13px;
    display: none;
    width: 60%;
    margin: 0 auto;
    position: relative;
    border: 3px solid rgb(238, 238, 238);

  }
  
  .sticky-alert-success {
    background-color: green;
    color: white;
  }
  
  .sticky-alert-error {
    background-color: rgb(255, 51, 0);
    color: white;
  }
  
  .sticky-alert-warning {
    background-color: rgb(255, 162, 0);
    color: white;
  }
  
  .close-button {
    display: block;
    float: right;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    right: 20px;
    top: 50%;
    text-align: center;
    height: 20px;
    width: 20px;
    transform: translateY(-50%);
    line-height: 20px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.2);
    transition: background-color 0.2s ease-in-out;
  }

  .close-button:hover {
    background-color: rgba(128, 128, 128, 0.5);
  }

  .sticky-alert-message {
    padding-right: 10px;
  }
  
  .cancel-friend-req-btn {
    background-color: #f44336; 
    color: white; 
    border: 2px solid rgb(244, 244, 244);
    border-radius: 10px;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .cancel-friend-req-btn:hover {
        background-color: white;
        color: black;
        border: 2px solid gray;
  }

  .accept-friend-req-btn {
    background-color: #4caf50; 
    color: white; 
    border: 2px solid rgb(244, 244, 244);
    border-radius: 10px;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .accept-friend-req-btn:hover {
    background-color: white;
    color: black;
    border: 2px solid gray;
  }

  .decline-friend-req-btn {
    background-color: #f44336; 
    color: white; 
    border: 2px solid rgb(244, 244, 244);
    border-radius: 10px;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .decline-friend-req-btn:hover {
    background-color: white;
    color: black;
    border: 2px solid gray;
  }

  .profile-btn-container {
    padding-right: 10px;
    padding-top: 10px;
  }
  
  .profile-btn {
    display: flex;
    float: right;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    border: none;
    border-radius: 13px;
    width: 225px;
    background-color: #FBFBFB;
    box-shadow: 16px 18px 76px rgba(0, 0, 0, 0.25);
    transition: width 0.2s ease-in-out;
    position: relative;
  }
  
  .profile-btn:hover {
    width: 250px;
  }
  
  .profile-img-container {
    width: 37px;
    height: 37px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .profile-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-name {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #000000;
  }
  
  .dropdown-arrow {
    margin-left: auto;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .dropdown-arrow .fas {
    transition: transform 0.2s;
  }
  
  .dropdown-arrow.open .fas {
    transform: rotate(180deg);
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 1px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    display: none;
  }
  
  .dropdown-menu a {
    display: flex;
    width: 94%;
    font-size: 14px;
    text-align: left;
    text-decoration: none;
    line-height: 25px;
    padding: 8px;
    border-radius: 8px;
    height: 25px;
    background-color: transparent;
    border: none;
    color: #333;
    transition: background-color 0.2s;
  }
  
  .dropdown-menu a:hover {
    font-weight: 500;
    background-color: #f0f0f0;
  }
  
  .logout-btn a {
    margin-bottom: 5px;
    color: red;
  }
  
  .logout-btn a:hover {
    background-color: #ffcccb;
  }
  
  .user-details {
    text-align: left;
    margin: 15px;
  }
  
  .name {
    font-weight: 600;
    font-size: 16px;
    color: #000;
  }
  
  
  .email {
    font-size: 14px;
    color: #999;
  }
  
  .dropdown-menu.open {
    display: block;
  }
  
  hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ccc;
  }
  
  .user-badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin-right: 10px;
  }
  
  .user-badge.admin {
    background-color: #ff6b6b;
  }
  
  .user-badge.user {
    background-color: #74b9ff;
  }

  .user-badge.banana {
    background-color: #fdcb6e;
  }

  .user-badge.orange {
    background-color: #ff9539;
  }

  .user-badge.plum {
    background-color: #6c5ce7;
  }
  
  .user-badge.butter {
    background-color: #fdcb6e;
  }

  .user-badge.developer {
    background-color: #00b894;
  }

  .user-badge .description {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    line-height: 1.2;
    white-space: nowrap;
    z-index: 1;
    max-width: 200px;
    text-align: center;
  }
  
  
  
  .user-badge:hover .description {
    visibility: visible;
    opacity: 1;
    overflow: auto;
    z-index: 999;
  }
  
  .tab-bar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
    background-color: #ffa500;
    overflow: hidden;
    width: 450px;
    height: 70px;
    position: fixed;
    bottom: -5px;
    left: 13px;
  }
  
  
  .tab {
    position: relative;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    z-index: 1;
  }
  
  .tab i {
    font-size: 24px;
    color: #fff;
    transition: all 0.3s ease-in-out;
    position: relative;
    display: inline-block;
  }
  
  .tab-content {
    position: absolute;
    padding: 5px;
    background-color: #eeeeee;
    border: 2px solid #666666;
    display: none;
    width: 445px;
    left: 15px;
    border-radius: 15px;
    height: calc(100% - 120px);
    font-family: 'Inter';
  }
  
  
  .tab-content.active {
    display: block;
  }
  
  .tab i:hover {
    font-size: 26.5px;
    
  }
  
  .tab.active i {
    color: #fff;
  }
  
  .slide {
    position: absolute;
    width: 3.1rem;
    height: 3.1rem;
    background-color: #fff;
    border-radius: 50%;
    align-items: center;
    transition: all 0.3s ease-in-out;
    opacity: 0.3;
    z-index: 0;
  }
  
  .slide.jello {
    animation: jello-horizontal 0.7s both;
  }
  
  
  @keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.2, 0.8, 1);
    }
    40% {
      transform: scale3d(0.8, 1.2, 1);
    }
    50% {
      transform: scale3d(1.1, 0.9, 1);
    }
    65% {
      transform: scale3d(0.9, 1.1, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  
  #user-friends {
    width: 450px;
    margin: 0 auto;
  }
  
  .tab-content ul {
    padding: 2px;
    list-style-type: none;
  }
  
  .friend-info {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    transition: box-shadow 0.2s ease-in-out;
  }

  .friend-info:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  }
  
  .friend-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3F9B0B;
    margin-right: 10px;
    overflow: hidden;
  }
  
  .friend-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .friend-details {
    display: flex;
    flex: 1;
    align-items: center;
  }
  
  .friend-username {
    font-size: 17px;
    margin-right: 200px;
    margin-bottom: 17px;
  }
  
  .friend-actions button {
    margin-left: 0px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 15px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .friend-actions button:hover {
    background-color: #f2f2f2;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 175px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 1px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    display: none;
  }
  
  .dropdown-item {
    font-size: 15px;
    padding: 5px 10px;
    color: #000000;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #f2f2f2;
    font-weight: 600;
    color: #000000;
  }
  