<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='404_styles.css') }}">
    <script src="{{url_for('static', filename='404page.js')}}"></script>
</head>
  <body>
    <div class="container">
      <div class="left-section">
        <h1 class="typing">404</h1>
        <span class="typing-cursor">|</span>
      </div>
      <div class="right-section">
        <h2 class="oops">Oops, looks like our oranges lost their way.</h2>
        <div class="chat-animation">
  <div class="dots">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
  <div class="error-message">
    Trying to find that orange
  </div>
</div>

        <div class="return-to-home">
          <a href="#">Return to Home</a>
        </div>
      </div>
    </div>
    <script src="./app.js"></script>
  </body>
</html>