<!DOCTYPE html>
<html>
  <head>
    <title>Orange Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js" integrity="sha512-qmKP1Zk13zwZ43+cPQz7FnUDyOeC0Dmei8gzAI2XFrIYlKtO5b5l8Lpyz5Ov+0yFVCpOJG8r/jteYX0rKZi2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body>
    <div id="chat">
      <div id="messages"></div>
      <form id="message-form">
        <input type="text" id="message_input" placeholder="Your Message">
<button type="submit" id="send_button">Send</button>
      </form>
    </div>
    <script>
        var messageInput = document.getElementById('message_input');
        var sendButton = document.getElementById('send_button');
        
        sendButton.onclick = function() {
          var message = messageInput.value;
          socket.emit('message', message);
          messageInput.value = '';
        };
        
        var messageList = document.getElementById('message_list');

// Function to add a message to the list
function addMessage(message) {
  var messageItem = document.createElement('li');
  var messageText = document.createTextNode(message.person + ': ' + message.message);
  var messageTime = document.createElement('span');
  messageTime.className = 'time';
  messageTime.innerHTML = message.timestamp;
  messageItem.appendChild(messageText);
  messageItem.appendChild(messageTime);
  messageList.appendChild(messageItem);
}

// Function to add all messages in the list
function addAllMessages(messages) {
  for (var i = messages.length - 1; i >= 0; i--) {
    addMessage(messages[i]);
  }
}

// Initial load of messages
socket.on('connect', function() {
  socket.emit('load_messages');
});

socket.on('messages', function(messages) {
  addAllMessages(messages);
});

// Add new messages
socket.on('message', function(message) {
  addMessage(message);
});

    </script>
  </body>
</html>
