<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Orange Chat</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fira Code" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.js"></script>
        <script src="{{url_for('static', filename='friends.js')}}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <script src="{{url_for('static', filename='script.js')}}"></script>
        <script src="{{url_for('static', filename='navbar.js')}}"></script>
        <script src="{{url_for('static', filename='profile_btn.js')}}"></script>
    </head>
    <body>
        <header>
            {% include 'sticky_alert_msg.html' %}
            {% include 'header.html' %}
            {% block content %}{% endblock %}
        </header>
        {% if session.get("logged_in") %}

        <div class = "profile-btn-container">
            <button class="profile-btn">
            <div class="profile-img-container">
              <img src="https://avatars.githubusercontent.com/u/106852975?s=100&v=4" alt="profile image">
            </div>
            <div class="profile-name">
              <span>{{current_user.username}}</span>
            </div>
            <span class="dropdown-arrow">
              <i class="fas fa-chevron-down"></i>
            </span>
            
            <ul class="dropdown-menu">
              <div class="user-details">
              <span class="name">{{current_user.name}}</span>
                <span class="user-badge admin">
                <span>{{current_user.role}}</span>
                <div class="description" id="badge-description">Woah, an admin? That's rare.</div>
              </span>
              <br>
              <span class="email">{{ current_user.email }}</span>
              </div>
              <hr />
            <a href="#">Account Settings</a>
            <a href="#">Send Feedback</a>
            <a href="#">Report a Bug</a>
              <hr />
              <div class="logout-btn">
              <a href="{{ url_for('logout')}}">Logout</a>
              </div>
          </ul>
          </button>
          </div>

        <p>You are logged in as {{current_user.name}}</p>
        <p>
            <a href="{{ url_for('logout') }}">Logout</a>
        </p>
        <button id="add-friends-button" class="add-friends-button">Add Friends</button>
        <div id="popup-window" class="popup-window">
            <div class="popup-header">
                Add friend
            </div>
            <button id="close-button">X</button>
            <div class="popup-body">
                <input type="text" id="friend-email" placeholder="Enter friend's email address">
                <div id="search-result" class="success"></div>
            </div>
        </div>
        <h2>Friend Requests</h2>
        <ul id="friend-requests">
            {% for friend_request in incoming_friend_requests %}
            <li id="friend-request-{{ friend_request.id }}">{{ friend_request.username }}
                <button class="accept-friend-req-btn" data-friend-request-id="{{ friend_request.id }}">Accept</button>
                <button class="decline-friend-req-btn" data-friend-request-id="{{ friend_request.id }}">Decline</button>
            </li>
            {% endfor %}
        </ul>
        <h2>Friends</h2>
        <ul id="friends-list">
            {% for friend in friends %}
                <li id="friend-{{ friend.id }}">{{ friend.username }}
                <button class="remove-friend-btn" data-friend-id="{{ friend.id }}">Remove</button>
                <button class="chat-btn" data-friend-id="{{ friend.id }}">Chat</button>
                <button class="block-friend-btn" data-friend-id="{{ friend.id }}">Block</button>                
                </li>
            {% endfor %}
        </ul>

        <h2>Pending Friend Requests</h2>
        <ul id="pending-friend-requests">
        {% for friend_request in pending_friend_requests %}
            <li id="friend-request-{{ friend_request.id }}">{{ friend_request.username }}
            <button class="cancel-friend-req-btn" data-friend-request-id="{{ friend_request.id }}">Cancel</button>
            </li>
        {% endfor %}
        </ul>


        {% else %}

        <nav>
            <div class="nav-left">
                <a href="#" class="nav-menu-button">
                    <i class="fa fa-bars"></i>
                </a>
                <a href="{{ url_for('about') }}" class="nav-menu-item">About OrangeChat</a>
            </div>
            <div class="nav-center">
                <a href="{{ url_for('home') }}" class="nav-logo">
                    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
                    OrangeChat
                </a>
            </div>
            <div class="nav-right">
                <a href="{{ url_for('login') }}" class="nav-button">Login</a>
                <a href="{{ url_for('signup') }}" class="nav-button">Signup</a>
            </div>
        </nav>
        
        <p>You are not logged in.</p>
        <p>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('signup') }}">Signup</a>
        </p>
        {% endif %}
    </body>
</html>