<div class="alert-container">
    <div class="sticky-alert-success alert-box">
      <span class="sticky-alert-message"></span>
      <span class="close-button">&times;</span>
    </div>
    <div class="sticky-alert-error alert-box">
      <span class="sticky-alert-message"></span>
      <span class="close-button">&times;</span>
    </div>
    <div class="sticky-alert-warning alert-box">
      <span class="sticky-alert-message"></span>
      <span class="close-button">&times;</span>
    </div>
  </div>