<html>
    <head>
        <title>test features here</title>
        <link href='https://fonts.googleapis.com/css?family=Fira Code' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tester_styles.css') }}">
    </head>
    <div class="row middle-on-small center-on-small">
        <div class="column small-12 medium-6 large-4">
          <a href="#!" class="c-button c-button--gooey">
            Logout
            <div class="c-button__blobs">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </a>
          
          <p class="pen-info">Hover over me</p>
        </div>
      </div>
      
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display: block; height: 0; width: 0;">
          <defs>
              <filter id="goo">
                  <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
                  <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo"></feColorMatrix>
                  <feBlend in="SourceGraphic" in2="goo"></feBlend>
              </filter>
          </defs>
      </svg>
</html>